@import url('../css/fonts.css');

html, body {
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-weight: 400;
    background: var(--bg-color);

}

:root {
    /* theme colors */
    --text-gray:#3f4954;
    --text-light:#686666da;
    --bg-color: #0f0f0f;
    --white: #fff;
    --midnight: #104f55;

    /* gradient color */
    --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

    /* theme font-family */
    --Abel:'Abel',cursive;
    --Anton: 'Anton,cursive';
    --Josefin:'Josefin',cursive;
    --Lexend:'Lexend',cursive;
    --Livvic:'Livvic',cursive;
}
/* Global Setting */

h1{
    font-family: var(--Lexend);
    font-size: 2.5rem;
    color: var(--text-gray);
}

/* Navbar Settings */

header {
    background: var(--white);
    text-align: center;
    position: fixed;
    z-index: 999;  /* because its position fixed */
    width: 100%;
}
nav {
    position: absolute;
    text-align: center;
    top: 100%;
    left: 0;
    background: var(--white);
    width: 100%;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}
nav a {
    font-family: var(--Abel);
    color: var(--text-gray);
    text-decoration: none; /* remove the underline */
    font-size: 1.25rem;
    text-transform: uppercase;
    padding: 0 2rem;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}


nav a:hover {
    background-color: var(--midnight);
    color:var(--white);
}

/* Social Icons */
.social a {
    padding: .8rem;
    font-size: 1.4rem;
}

/* Nav Toggle */

.nav-toggle:checked ~ nav {
    transform: scale(1,1);
    /* display:block; */
}
.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}
.nav-toggle {
    display: none;
}
.nav-toggle-label {
    position: absolute; /* to reposition */
    top: 0;
    right: 0; /* i change to right */
    margin-right: 1em;
    /* centers vertically */
    height: 100%;
    display: flex;
    align-items: center;
}
/* Creating a hamburger menu */
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after { 
    display: block;
    background: var(--text-gray);
    height: 2px;  
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

/* Media Query */

@media screen and (min-width: 800px) {
    .nav-toggle-label{
        display: none;
    }
    header {
        display: grid;
        grid-template-columns: auto 1fr  minmax(500px,3fr) 1fr;
    }
    .logo { 
        grid-column: 1 / 2;
        padding-left : 2rem;
    }
    nav {
        all: unset; /* taking off all the things up before on the nav */
        grid-column: 2/4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    nav ul {
        display: flex;
    }
    nav li {
        /* margin-left: 3em; */
        margin-bottom: 0;
    }
    nav a {
        opacity: 1;
        padding: 0 .3rem;
        position: relative;
        color: var(--text-gray);
    }
    nav a:hover {
        background-color: var(--white);
        color:var(--text-light);
    }
    .social{
        padding-left: 2rem;
    }
    .social a {
        padding: .3rem;
    }
    nav a::before{
        content: ' ';
        display: block;
        height: 5px;
        background: black;
        position: absolute;
        top: -.75em;
        left: 0;
        right: 0;
        transform: scale(0,1);
        transition: transform ease-in-out 250ms;
    }
    nav a:hover::before {
        transform: scale(1,1);

    }
}